<%= form_for @quote, remote: true, html: { id: "quote-#{@quote.id}" } do |f| %>
<div>
  <%= f.text_area :raw_quote, rows: 10, cols: 70 %>
</div>
<div>
  <%= f.label :description, 'Optional description:' %>
  <%= f.text_area :description, rows: 2, cols: 70 %>
</div>
<div>
  <%= f.submit 'Save' %>
  <%= tag :input, class: 'cancel-quote', value: 'Cancel', type: :button %>
</div>
<% end %>
