<div class="quote">
  <h1 class="number"><%= link_to "\##{quote.id}", quote %></h1>
  
  <div class="body">
    <% quote.lines.each do |line| %>
      &lt;<%= line.person.name %>&gt;
      <%= line.body %><br>
    <% end %>
  </div>
  
  <div class="actions">
    <%= link_to 'Edit', edit_quote_path(quote) %> |
    <%= link_to 'Delete', quote, confirm: 'Are you sure?', method: :delete %>
  </div>
  <div style="clear: right;"></div>
</div>