<div class="quote" id="quote-<%= quote.id %>">
  <h1 class="number"><%= link_to "\##{quote.id}", quote %></h1>
  
  <% if quote.description? %>
  <p class="description"><%= auto_link(quote.description) %></p>
  <% end %>

  <table class="lines">
    
    <% quote.lines.each do |line| %>
      <% if line.action? %>
        <tr class="action">
      <% else %>
        <tr class="message">
      <% end %>
      
      <td class="person"><%= link_to line.person.name, person_path(line.person.name) %></a></td>
      <td class="body"><%= auto_link(line.body) %></td>
      
      </tr>
    <% end %>
    
  </table>
  
  <div class="links">
    <%= link_to 'Edit', edit_quote_path(quote), remote: true  %> |
    <%= link_to 'Delete', quote, confirm: 'Are you sure?', method: :delete, remote: true %>
  </div>
  <div style="clear: right;"></div>
</div>
