<% cache(quote) do %>
  <div class="quote" id="quote-<%= quote.id %>">
    <h1 class="number"><%= link_to "\##{quote.id}", quote %></h1>
  
    <% if quote.description? %>
    <p class="description"><%= auto_link(quote.description) %></p>
    <% end %>

    <table class="lines">
      <%= render quote.lines %>
    </table>
  
    <div class="links">
      <%= link_to 'Edit', edit_quote_path(quote), remote: true  %> |
      <%= link_to 'Delete', quote, data: { confirm: 'Are you sure?' }, method: :delete, remote: true %> | 
      <%= link_to 'Undo', undo_quote_path(quote), method: :post, remote: true %>
    </div>
    <div style="clear: right;"></div>
  </div>
<% end %>