<div class="quote">
  <h1 class="number"><%= link_to "\##{quote.id}", quote %></h1>
  
  <% if quote.description? %>
    <p class="description"><%= quote.description %></p>
  <% end %>

  <table class="lines">
    
    <% quote.lines.each do |line| %>
      <% if line.action? %>
        <tr class="action">
      <% else %>
        <tr class="message">
      <% end %>
      
      <td class="person"><a href="/quotes/person/<%= line.person.name %>"><%= line.person.name %></a></td>
      <td class="body"><%= auto_link(line.body) %></td>
      
      </tr>
    <% end %>
    
  </table>
  
  <div class="links">
    <%= link_to 'Edit', edit_quote_path(quote) %> |
    <%= link_to 'Delete', quote, confirm: 'Are you sure?', method: :delete %>
  </div>
  <div style="clear: right;"></div>
</div>
