<p id="notice"><%= notice %></p>

<p><strong>People:</strong> <%= quote.people.map(&:name).join(' ') %></p>

<% quote.lines.each do |line| %>
  <strong>&lt;<%= line.person.name %>&gt;</strong>
  <%= line.body %><br />
<% end %>

<%= link_to 'Edit', edit_quote_path(quote) %> |
<%= link_to 'Destroy', quote, confirm: 'Are you sure?', method: :delete %>
<%= link_to 'Back', quotes_path %>
