<div class="quote">
  <h1 class="number"><%= link_to "\##{quote.id}", quote %></h1>
  
  <table class="lines">
    
    <% quote.lines.each do |line| %><tr>
      <td class="person"><a href="/quotes/person/<%= line.person.name %>"><%= line.person.name %></a></td>
      <td class="body"><%= line.body %></td>
    </tr><% end %>
    
  </table>
  
  <div class="actions">
    <%= link_to 'Edit', edit_quote_path(quote) %> |
    <%= link_to 'Delete', quote, confirm: 'Are you sure?', method: :delete %>
  </div>
  <div style="clear: right;"></div>
</div>