<% 
  raw_quote = render(partial: 'quote', formats: [:text])
 %>

<%= form_tag(@quote, method: :put) do %>
<div>
  <%= text_area_tag :raw_quote, raw_quote, rows: 10, cols: 70 %>
</div>
<div>
  <%= submit_tag 'Save quote' %>
</div>
<% end %>

<%= link_to 'Show quote', @quote %> |
<%= link_to 'Show all quotes', quotes_path %>
